data
config
!config/config.example.yaml
!config/desktop_credentials_template.json
dataset
parsed
tokens
model
modelinuse
downloads
dump
venv
.venv
gmail_tokens

*.json
*.csv

**.idea
**logs

**__pycache__
*.pem
**.DS_Store