PyYAML
SQLAlchemy
beautifulsoup4
cryptography
google-genai
google-api-python-client
google-auth
google-auth-httplib2
ollama
pandas
python-dateutil
viper-python
git+https://github.com/siddhantkushwaha/GoogleAPIs.git#subdirectory=python
